<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>
<script type="text/javascript"src="vue_1.js"></script>
<style>
  .router-link-active {
  color: red;
}
</style>
</head>
<body>
<div class="app">
   <span>message:{{msg}}</span>
    <div v-html="message"></div>
    <p  v-if="seen">you can see me</p>
</div>
<div id="example">
  <p>Original message:"{{message}}"</p>
  <p>Computed reversed message:"{{reversedMessage}}"</p>
</div>

<div id="app-5">
  <p>{{message}}</p>
  <button v-on:click="reverseMwssage">逆转消息</button>
</div>

<div id="app-6">
  <p>{{message}}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，晚些时候我们会做个解释。
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>

<div class="static" v-bind:class="{active:isActive,'text-danger':hasError}"></div>

<div v-if=""ok>Yes</div>
<div v-else>No</div>

<template v-if="ok">
  <h1>Title</h1>
  <p>Paragraph 1</p>
  <p>Paragraph 2</p>
</template>

<ul id="app-9">
  <li v-for="item in items">{{item.message}}</li>
</ul>


<div id="todo-list-example">
  <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="Add a todo"
  >
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>

<div id="app_12" >
  <input v-model="message" placeholder="edit me">
  <p >Message is: {{ message }}</p>
</div>

<div id="example-textarea">
  <span>Multiline message is:</span>
  <p style="white-space: pre-line;">{{ message }}</p>
  <br>
  <textarea  v-model="message" placeholder="add multiple lines"></textarea>  
</div>

<div id="app13">
  <input type="radio" id="one" value="Xne" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
</div>

<div id="app-14">
  <my-component></my-component>
</div>

<div id="app-15">
  <simple-counter></simple-counter>
  <simple-counter></simple-counter>
  <simple-counter></simple-counter>
</div>

<div id="counter-event-example">
  <p>{{ total }}</p>
  <button-counter v-on:increment="incrementTotal"></button-counter>
  <button-counter v-on:increment="incrementTotal"></button-counter>
</div>

<div id="app_16">
  <h1>Hello App!</h1>
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>



<script>
new Vue({
  el: '.app',
  data: {
    message: 'hello world',
    msg:'你好世界',
    seen:true,
    // seen:false
  }
})

var vm =new Vue({
  el:'#example',
  data:{
    message:'HEllO'
  },
  computed:{
    reversedMessage:function(){
      return this.message.split('').reverse().join('')
    }
  }
})

var app5 = new Vue({
  el:'#app-5',
  data:{
    message:'Hello Vue.js!'
  },
  methods:{
    reverseMwssage:function(){
      this.message=this.message.split('').reverse().join('')
    }
  }
})

var app6 =new Vue({
  el:"#app-6",
  data:{
    message:'Hello Vue!'
  },
})

Vue.component('todo-item',{
  props:['todo'],
  template:'<li>{{todo.text}}</li>'
})


var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { id: 0, text: '蔬菜' },
      { id: 1, text: '奶酪' },
      { id: 2, text: '随便其他什么人吃的东西' }
    ]
  }
})


var data ={a:1}

var vm = new Vue({
  data:data
})

var app8=new Vue({
  el:".static",
  data:{
    isActive:true,
    hasError:true
  }
})

var app9=new Vue({
  el:'#app-9',
  data:{
    items:[
      {message:'foo'},
      {message:'Bar'}
    ]
  }
})

Vue.component('todo-item',{
  template:'\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
  ',
  props: ['title']
})

var app10=new Vue({
  el:'#todo-list-example',
  data:{
    newTodoText:'',
    todos:[],
    nextTodoId:0
  },
  methods:{
    addNewTodo:function(){
      this.todos.push({
        id:this.nextTodoId++,
        title:this.newTodoText
      })
      this.newTodoText=''
    }
  }
})



var app11=new Vue({
  el: '#example-textarea',
  data: {
    message: ''
  }
})

var app12=new Vue({
  el: '#app_12',
  data: {
    message: ''
  }
})

var app13=new Vue({
  el: '#app13',
  data: {
    picked: ''
  }
})

//先注册
Vue.component('my-component',{
  template: '<div>A custom component!</div>'
})
//再创建实例
var app14=new Vue({
  el:'#app-14',
})

var data = { counter: 0 }
Vue.component('simple-counter', {
  template: '<button v-on:click="counter += 1">{{ counter }}</button>',
  // 技术上 data 的确是一个函数了，因此 Vue 不会警告，
  // 但是我们返回给每个组件的实例却引用了同一个 data 对象
  data: function () {
    return data
  }
})
new Vue({
  el: '#app-15'
})



Vue.component('button-counter',{
  template:'<button v-on:click="incrementCounter">{{ counter }}</button>',
  data:function(){
    return {
      counter:0
    }
  },
  methods:{
    incrementCounter:function(){
      this.counter +=1
      this.$emit('increment')
    }
  }
})

new Vue({
  el: '#counter-event-example',
  data: {
    total: 0
  },
  methods: {
    incrementTotal: function () {
      this.total += 1
    }
  }
})

////////////////
var Foo = { template: '<div>foo</div>' }
var Bar = { template: '<div>bar</div>' }

// 2. Define some routes
// Each route should map to a component. The "component" can
// either be an actual component constructor created via
// Vue.extend(), or just a component options object.
// We'll talk about nested routes later.
var routes = [
  { path: '/foo', component: Foo },
  { path: '/bar', component: Bar }
]

// 3. Create the router instance and pass the `routes` option
// You can pass in additional options here, but let's
// keep it simple for now.
var router = new VueRouter({
  routes
})

// 4. Create and mount the root instance.
// Make sure to inject the router with the router option to make the
// whole app router-aware.
var app = new Vue({
  router
}).$mount('#app_16')

//////////////////
</script>
</body>
</html>